<div class="panel panel-info">
  <div class="panel-heading">Check it out, this is my One Month Rails app</div>
  <div class="panel-body">
    Don't really have much to say at this point -- let's just see where we go with this!
  </div>
</div>